@import "src/styles/index";

.wrapperRegister {
  margin: spacing(20) auto;
  max-width: 600px;
  padding: spacing(4);
  background-color: $dark-blue;
  border-radius: 10px;

  .messageError {
    padding-top: spacing(3);
    text-align: center;
    color: $danger-color;
  }
}