@import "src/styles/index";

.wrapperRegister {
  padding: spacing(20) 0;
  margin: 0 auto;
  max-width: 600px;

  .messageError {
    padding-top: spacing(3);
    text-align: center;
    color: $danger-color;
  }
}