@import "src/styles/index";

.customBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: spacing(2) 0;
  transition: 0.2s;

  &.small {
    width: 100px;
    padding: spacing(3) 0;
  }

  &.medium {
    width: 176px;
  }

  &.large {
    width: 100%;
  }

  &.customSize {
    width: 230px;
    padding: 15px 0;
  }

  &.postsearchBtn {
    max-width: 320px;
    width: 100%;
  }

  &.circleSize {
    width: 20px;
    height: 20px;
  }
}

.text {
  line-height: 19px;
}

.primary {
  color: $color-white;
  background-color: $tertiary-color;
  border: none;

  &:hover {
    background-color: $primary-color;
    transition: 0.2s;
  }
}




