@import "src/styles/index";


.sectionChangePassword {
  max-width: 500px;
  padding: spacing(4);
  background-color: $dark-blue;
  border-radius: 10px;
  width: 100%;
  margin-bottom: spacing(2);
}

.messageError {
  padding-top: spacing(3);
  text-align: center;
  color: $danger-color;
}