@import "src/styles/index";

.inputWithPassword {
  position: relative;

  .passwordShow {
    position: absolute;
    right: 15px;
    top: 56px;
    cursor: pointer;
    transform: translateY(-50%);

    .icon {
      color: $primary-color;
    }
  }
}