@import "src/styles/index";

.post {
  margin-top: spacing(8);

  .image {
    width: 100px;
    height: 100px;
  }

  .blockWithDescription {
    margin-left: spacing(5);

    .description {
      margin-top: spacing(2);
      margin-bottom: spacing(2);
    }
  }
}