@import "src/styles/index";

.wrapperImage {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 400px;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $dark-blue;
    border: transparent;
    padding: spacing(1);
    color: $color-white;
    cursor: pointer;
  }
}

.updateAvatarBtn {
  background-color: $dark-blue;
  color: $color-white;
  padding: spacing(1);
  border: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
}